name: Entur/Security/CI

on:
    pull_request:

jobs:
    actionlint:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - name: Check workflow files
          run: |
            echo "::add-matcher::.github/actionlint-matcher.json"
            # pin v1.7.7 using hash
            bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/e7d448ef7507c20fc4c88a95d0c448b848cd6127/scripts/download-actionlint.bash)
            ./actionlint -color
          shell: bash
    update-code-scan-doc:
        uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1.6.2
        with: 
            workflow_file: .github/workflows/code-scan.yml
            readme_file: README-code-scan.md

    update-docker-scan-doc:
        uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1.6.2
        with: 
            workflow_file: .github/workflows/docker-scan.yml
            readme_file: README-docker-scan.md
    biome-check:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup Biome
              uses: biomejs/setup-biome@v2
              with:
                version: 1.9.4
                working-dir: ./scanner-action
            - name: Run Biome
              working-directory: ./scanner-action
              run: biome ci